<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lizumin.wms.dao.OrderMapper">
    <select id="insertOrder">
        INSERT INTO orders(me_id, selling_price, remark, selling_time, own_id, group_id)
        VALUES (#{me_id}, #{selling_price}, #{remark}, #{selling_time}, #{own_id}, #{group_id})
        RETURNING order_id;
    </select>

    <select id="getOrdersByDateRange" resultMap="order">
        SELECT order_id, selling_price, returned, remark, selling_time, M.me_id, cost, price, imei, create_time, sold, C.cate_id, parent_cate_id, name
        from orders AS O LEFT JOIN merchandise as M On O.me_id = M.me_id LEFT JOIN category AS C ON M.cate_id = C.cate_id
        WHERE M.group_id = #{group_id} AND selling_time >= #{selling_time_start} AND selling_time &lt;= #{selling_time_end};
    </select>

    <select id="getOrderById" resultMap="order">
        SELECT order_id, selling_price, returned, remark, selling_time, M.me_id, cost, price, imei, create_time, sold, C.cate_id, parent_cate_id, name
        from orders AS O LEFT JOIN merchandise as M On O.me_id = M.me_id LEFT JOIN category AS C ON M.cate_id = C.cate_id
        WHERE O.order_id = #{order_id} AND M.group_id = #{group_id};
    </select>

    <update id="setOrderReturned">
        UPDATE orders SET returned = #{returned} WHERE order_id = #{order_id} AND group_id = #{group_id};
    </update>

    <resultMap id="order" type="com.lizumin.wms.entity.Order">
        <id property="id" column="order_id" />
        <result property="sellingPrice" column="selling_price" />
        <result property="returned" column="returned" />
        <result property="remark" column="remark" />
        <result property="sellingTime" column="selling_time" />
        <association property="merchandise" javaType="com.lizumin.wms.entity.Merchandise" resultMap="merchandise"/>
    </resultMap>

    <resultMap id="merchandise" type="com.lizumin.wms.entity.Merchandise">
        <id property="id" column="me_id" />
        <result property="cost" column="cost" />
        <result property="price" column="price" />
        <result property="imei" column="imei" />
        <result property="createTime" column="create_time" />
        <result property="sold" column="sold" />
        <association property="category" javaType="com.lizumin.wms.entity.Category">
            <result property="id" column="cate_id"/>
            <result property="parentId" column="parent_cate_id"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>
</mapper>